<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <Appenders>
        <console name="Console" target="SYSTEM_OUT">
            <patternLayout pattern ="%d{HH:mm:ss.SSS} {%t} %-5level %logger{36} - $msg%n">
        </console>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>    
</configuration>